{% extends "layout.html" %}

{% block content %}
<p>Coucou</p>


<a>To connect the database click <a href="http://localhost:8080/">here</a></a></br>

<input type="button" value="Start Receiving Data" onclick="openWin();myVar = setInterval(openWin, 29000)" />

<h1>Temperature Data</h1>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
<?php
echo "<p>test</p></br>"
include('connection.php');	
$vSql ="DROP TABLE Temperature";
$vQuery=mysqli_query($vConn,$vSql);

$vSql ="CREATE TABLE Temperature
		(
		Value_T int,
		kit_ID int,
		);";
$vQuery=mysqli_query($vConn,$vSql);

$vSql ="INSERT INTO `db2f0ivcdh2a5s`.`temperature` (`Value_T`, `kit_ID`) VALUES ('25', '1');";
$vQuery=mysqli_query($vConn,$vSql);

$vSql ="SELECT Value_T, kit_ID FROM temperature;";
$vQuery=mysqli_query($vConn,$vSql);

while ($vResult = mysqli_fetch_array($vQuery)) 
			{
echo "<td>$vResult[ID_T]</td>";
echo "<td>$vResult[Value_T]</td>";
			}
?>
</div>
</div>
{% endblock %}

