{% extends "layout.html" %}

{% block content %}
<p>Coucou</p>


<a>To connect the database click <a href="http://localhost:8080/">here</a></a></br>

<input type="button" value="Start Receiving Data" onclick="openWin();myVar = setInterval(openWin, 29000)" />

<h1>Temperature Data</h1>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
<?php
include('connection.php');	
$vSql ="DROP TABLE nom_table";
$vQuery=mysqli_query($vConn,$vSql);

$vSql ="CREATE TABLE Temperature
		(
		Value_T int,
		kit_ID int,
		ID_T int NOT NULL AUTO_INCREMENT,
		heure int,
		minute int,
		second int
		);";
$vQuery=mysqli_query($vConn,$vSql);

$vSql ="INSERT INTO `db2f0ivcdh2a5s`.`temperature` (`Value_T`, `kit_ID`, `ID_T`, `heure`, `minute`, `second`) VALUES ('2', '1', NULL, '3', '4', '5');";
$vQuery=mysqli_query($vConn,$vSql);

$vSql ="SELECT ID_T, Value_T,heure,minute,second FROM temperature data ORDER BY ID_T ;";
$vQuery=mysqli_query($vConn,$vSql);

while ($vResult = mysqli_fetch_array($vQuery)) 
			{
echo "<td>$vResult[ID_T]</td>";
echo "<td>$vResult[Value_T]</td>";
			}
?>
</div>
</div>
{% endblock %}
